body {
  background: #1b2838;
}

.game-content-wrapper {
  width: 940px;
  margin: auto;
  width: 50%;
}

.content-spacer {
  height: 15px;
}

.left-col {
  width: 616px;
  float: left;
}

.left-column-spacer {
  height: 15px;
}

.column-wrapper {
  margin-bottom: 100px;
}

.right-col {
  width: 308px;
  float: right;
  margin-left: 14px;
  margin-bottom: 150px;
}
